html, body {
    margin: 0;
    height: fit-content;
}
body {
	  display: grid; 
    color : teal ;
    padding : 20% ; 
    font-family:  helvatica ; 
}
textarea {
  width: 900px;
  height: 500px;
}

input, textarea{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button:hover {
  background-color: #0D2C3E;
}
button{
	  background-color: #335672 ; 
	  color: white;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
}
